
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:"Heebo", "sans-serif" ;

}
body{
    background-color: antiquewhite;
    padding: 0 20px;



}
header{
    max-width: 500px;
    margin: 0% auto;

} 
.logo-wrap{
    padding-top: 20px;
    padding-bottom: 5px;
    color: aqua;
    display: flex;
    align-items:baseline;
    justify-content: space-between;

}
.logo-wrap{
    font: size 20px; ;
    color: goldenrod;
    padding: 2px 10px;
    border: 1px solid violet;
    border: radius 5px;
}
.logo-wrapp :active{
        background-color: blue;}

.todo-add *{
        background-color:transparent;
        text-shadow: 0 0 1px grey;
        font-size: 24px;
        outline: none;
        border: none;
        font-weight: lighter;
   
}
        .todo-add{
            width: 100;
            display: flex;
            justify-content: space-between;
            background-color: blueviolet;
            border-radius: 5px;
            box-shadow: 0 0 2px black;
        }
    